.column {
    float: left;
    width: 31.7%;
    padding: 10px;
    height: 1800px; /* Should be removed. Only for demonstration */
    text-align: center;
    background-color: cadetblue;
    border: 2px solid blueviolet;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }